html,
body {
  height: 100%;
  margin: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  > div {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}